doctype html
html
  head
    block head
      title #{title}
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/layouts/core.min.css?#{cacheBreaker}')
    block neck
  body
    div.navbar.navbar-default.navbar-fixed-top
      div.container
       include global-nav.jade

    div.page
      div.container
        block body

    div.footer
      div.container
        div.inner
          span.copyright.pull-right
            |&#169; #{copyrightYear} #{copyrightName}
          ul.links
            li: a(href='/') Home
            li: a(href='/logout/') Sign Out
          div.clearfix

    div.ajax-spinner
      img(src='/media/ajax-pulse.gif', alt='Loading')

    //if lte IE 9
      script(src='/layouts/ie-sucks.min.js?#{cacheBreaker}')
    script(src='/layouts/core.min.js?#{cacheBreaker}')

    block feet
